@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.watermark {
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 40px;
    position: fixed;
    left: 50%;
    margin-top: 25px;
    transform: translateX(-50%);
    color: #000;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.login {
    width: 100%;
    height: 100vh;
    background-color: rgb(211, 211, 211);
}

.login-form {
    width: 350px;
    height: 350px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.email-login {
    position: fixed;
    padding: 5px 5px 5px;
    top: 29%;
    width: 300px;
    height: 35px;
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
    border: 1px solid #888;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.psw-login {
    position: fixed;
    padding: 5px 5px 5px;
    top: 53%;
    width: 300px;
    height: 35px;
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
    border: 1px solid #888;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.eye {
    position: fixed;
    top: 58%;
    left: 85%;
    width: 20px;
    height: 20px;
}

input[type=email]:focus {
    border: 1px solid #888;
}

.psw-label {
    position: fixed;
    padding: 5px 5px 5px;
    top: 45%;
    width: 300px;
    height: 35px;
    left: 41%;
    margin-top: 10px;
    transform: translateX(-41%);
}

.email-label {
    position: fixed;
    padding: 5px 5px 5px;
    top: 21%;
    width: 300px;
    height: 35px;
    left: 41%;
    margin-top: 10px;
    transform: translateX(-41%);
}

.submit {
    position: fixed;
    width: 35%;
    height: 12%;
    top: 75%;
    background-color:teal;
    border: none;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.indicator {
    position: fixed;
    top: -12%;
    width: 70px;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
    background: #29fd53;
    border-radius: 50%;
    border: 6px solid rgb(211, 211, 211);
    transition: .5s;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.icon {
    position: fixed;
    left: 48%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 28px;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 63%;
    left: -19px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 rgb(211, 211, 211);
}

.indicator::after {
    content: '';
    position: absolute;
    top: 63%;
    right: -19px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 rgb(211, 211, 211);
}

.skip {
    position: fixed;
    left: 43%;
    top: 89%;
    font-size: 13px;
    text-decoration: underline;
    color: #888;
    transform: translate(-50%, -50%);
}